* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 327px;
  background: #1B1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
  margin-top: 88px;
  margin-bottom: 88px;
}

.img-mobile {
  height: 240px;
  background-image: url('./images/image-header-mobile.jpg');
  background-color: #AB5CDB;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: 0.75;
}

section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

section > h1 {
  width: 264px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

span {
  color: #AB5CDB;
}

section > p {
  width: 264px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.information-numbers {
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.information-numbers h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.information-numbers p {
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media only screen and (min-width: 1024px) {
  /* Estilos para telas de computador */
  .img-mobile {
    display: none;
  }

  body {
    flex-direction: row;
    justify-content: center;
  }

  main {
    width: 1110px;
    height: 446px;
    display: flex;
  }
  
  section {
    width: 50%;
    background-color: aqua;
    margin-top: 0;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
  }

  section > h1 {
    width: 403px;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: left;
  }

  section > p {
    width: 374px;
    text-align: left;
  }

  .information-numbers {
    flex-direction: row;
    gap: 63px;
  }
}